* {
    box-sizing: border-box;
  }
  html,
  body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f9f9f9;
    display: flex;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    transition: height 0.5s ease-in-out;
  }
  nav {
    width: 250px;
    background: #333;
    color: white;
    padding: 2rem 1rem;
    overflow: auto;
  }
  nav h1 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  nav ul {
    list-style: none;
    padding: 0;
  }
  nav li {
  margin: 1rem 0;
  position: relative;
  padding-right: 1.2em;
  cursor: pointer;
}

nav li::after {
  content: '›';
  position: absolute;
  right: 0;
  color: #ccc;
  font-size: 1.5rem;
  transform: translateY(-20%) translateX(-3px);
  transition: transform 0.2s ease;
}

nav li:hover::after {
  transform: translateY(-20%) translateX(0);
  color: white;
}

  
  main {
    flex-grow: 1;
    padding: 1rem;
  }
  iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px;
    background: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }
  
#menu-toggle {
  display: none;
  position: fixed;
  right: 1rem;
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  z-index: 1001;
}

#sidebar {
  transition: transform 0.3s ease-in-out;
}

.accordion-header {
  cursor: pointer;
  padding: 10px 0;
  font-weight: bold;
  font-size: 1.2rem;
  border-bottom: 1px solid #f9f9f9;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  margin: 0;
}

.accordion-section.open .accordion-content {
  max-height: 1000px;
}


@media (max-width: 750px) {
  body {
    flex-direction: column;
  }

  #menu-toggle {
    display: block;
    color: #333;
    background-color: transparent;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
    width: 250px;
    z-index: 1000;
  }

  nav.open {
    transform: translateX(0);
  }

  main {
    padding-top: 3rem;
  }
}
