html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

h3 {
  margin: 2em;
  font-size: 1.5em;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#main-layout {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 100%;
  flex: 1;
  padding: 2rem;
}

#map {
  flex: 1;
  border-radius: 8px;
}

#weather {
  flex: 1;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  text-align: left;
  padding-top: 0;
  box-sizing: border-box;
  line-height: 2;
  overflow-y: auto;
  overflow-x: hidden;
  text-wrap: nowrap;
}

#search {
  padding: 0.5em 1em;
  font-size: 1em;
  width: 80%;
  max-width: 400px;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#search-btn {
  padding: 0.4em;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 0.25em;
  cursor: pointer;
}

.tabs {
  display: flex;
  gap: 0.5rem;
  /* margin-bottom: 1rem; */
  position: sticky;
  top: 0;
  background-color: #fff;
  padding: 0.5em;
}

.tab {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background: #eee;
  cursor: pointer;
}

.tab.active {
  background: #007bff;
  color: white;
}

.tab-content {
  font-size: 1rem;
}

#current {
  text-overflow: ellipsis;
  overflow: hidden;
}

#current, .hour-card, .day-card {
  padding: 1em;
  border-bottom: 1px solid #ccc;
  line-height: 1.2;
}

#current:last-child, .hour-card:last-child, .day-card:last-child {
  border-bottom: none;
}

#current:nth-child(odd), .hour-card:nth-child(odd), .day-card:nth-child(odd) {
  background: #f1f1f1;
}

@media screen and (max-width: 750px) {
  #main-layout {
    flex-direction: column;
    box-sizing: border-box;
    padding: 1em;
    max-height: 100%;
    flex: 1;
    overflow: auto;
  }

  h2 {
    font-size: 1em;
    margin: 0;
  }

  
h3 {
  margin: 0.5em;
}

  #search {
    width: auto;
  }
  
}