html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #1a1a2e;
    color: #fff;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* body {
    font-family: sans-serif;
    background: #1a1a2e;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
} */

.boards {
    display: flex;
    gap: 40px;
    margin-top: 20px;
    width: 100%;
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boards>div {
    flex: 1;
}

.boards h2 {
    text-align: center;
}

.board-container {
    height: 100%;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    align-items: center;
    justify-content: center;
}

.cell {
    width: 30px;
    height: 30px;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid black;
}

.cell.hit {
    background: red;
}

.cell.miss {
    background: #555;
}

.ship-piece {
    background: hotpink;
    border: 1px solid white;
}

.ship-selector {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.ship-selector.vertical {
    flex-direction: row;
}

.ship {
    background: hotpink;
    display: flex;
    cursor: grab;
    width: fit-content;
    height: fit-content;
    align-self: center;
}

.ship.horizontal {
    flex-direction: row;
    margin: 5px 0;
}

.ship.vertical {
    flex-direction: column;
    margin: 0 5px;
}

.ship div {
    width: 30px;
    height: 30px;
    border: 1px solid white;
}

.info {
    margin-top: 20px;
    text-align: center;
}

button {
    margin-top: 10px;
}

.cell.preview {
    background-color: rgba(255, 255, 255, 0.3);
}


@media screen and (max-width: 750px) {
    
    .boards {
        flex-direction: column;
        align-items: center;
    }

    .board {
        grid-template-columns: repeat(10, 4vh);
        grid-template-rows: repeat(10, 4vh);
    }

    .cell {
        width: 4vh;
        height: 4vh;
    }

    .ship-selector {
        min-height: 50vh;
    }
}