html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #1a1a2e;
    color: #fff;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* body {
    font-family: sans-serif;
    background: #1a1a2e;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
} */

.boards {
    display: flex;
    margin-top: 20px;
    width: 100%;
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    border-top: 1px solid #444;
}

.boards>div {
    flex: 1;
}

.boards h2 {
    text-align: center;
}

.board-container {
    height: 100%;
}
#ai-board-container {
    border-left: 1px solid #444;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    align-items: center;
    justify-content: center;
}

#player-board {
    align-self: flex-end;
}

.cell {
    width: 30px;
    height: 30px;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid black;
}

.cell.hit {
    background: red;
}

.cell.miss {
    background: #555;
}

.ship-piece {
    background: hotpink;
    border: 1px solid white;
}

.ship-selector {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    flex-wrap: wrap;
    border-left: 1px solid #444;
    /* background:
        repeating-linear-gradient(45deg, #444, #444 1px, #222 1px, #222 2px),
        repeating-linear-gradient(-45deg, #444, #444 1px, #222 1px, #222 2px);
    background-size: 4px 4px;
    color: #eee; */
}

.ship-selector> :first-child {
    width: 100%;
}

.ship-selector.vertical {
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
}

.ship {
    background: hotpink;
    display: flex;
    cursor: grab;
    width: fit-content;
    height: fit-content;
    align-self: center;
}

.ship.horizontal {
    flex-direction: row;
    margin: 5px 0;
}

.ship.vertical {
    flex-direction: column;
    margin: 0 5px;
}

.ship div {
    width: 30px;
    height: 30px;
    border: 1px solid white;
}

.info {
    margin-top: 20px;
    text-align: center;
}

button {
    margin-top: 10px;
}

.cell.preview {
    background-color: rgba(255, 255, 255, 0.3);
}

.ship-selector-container {
    height: 100%;
}

.info button {
    background-color: hotpink;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    min-width: 90px;
}

/* disabled state of buttons */
button:disabled {
    background-color: grey;
    color: white;
    cursor: not-allowed;
}


@media screen and (max-width: 750px) {

    h1 {
        margin: 10px 0;
        font-size: 1.5rem;
    }

    h2 {
        margin: 0;
        margin-bottom: 10px;
        font-size: 1.2rem;
    }

    .boards {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        padding-top: 5px;
        padding-bottom: 20px;
    }

    .board {
        grid-template-columns: repeat(10, 4vh);
        grid-template-rows: repeat(10, 4vh);
    }

    .cell {
        width: 4vh;
        height: 4vh;
    }

    .ship-selector {
        min-height: 50vh;
        border: none;

        flex-direction: row;
        align-content: flex-start;
        justify-content: center;
        gap: 15px;
        max-width: 95vw;
    }

    #start-game-btn, #rotate-btn {
        position: fixed;
        padding: 5px;
        border-radius: 5px;
        border: none;
        font-size: 1rem;
        line-height: 1.4rem;
        background-color:maroon;
        color: white;
    }
    #start-game-btn {
        bottom: 20px;
        right: 20px;
    }
    #rotate-btn {
        bottom: 20px;
        left: 20px;
    }

    .info {
        margin: 0;
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        padding: 5px 0;
        position: sticky;
        top: 0;
        background-color: #1a1a2e;
    }
    #ai-board-container {
        border: none;
    }

    #ai-board-container h2 {
        position: relative;
    }
    #ai-board-container h2::after {
        content: "";
        position: absolute;
        top: 50%;
        width: 35%;
        left: 0;
        transform: translateX(-35%);
        height: 1px;
        background-color: white;
    }
    #ai-board-container h2::before {
        content: "";
        position: absolute;
        top: 50%;
        width: 35%;
        right: 0;
        transform: translateX(35%);
        height: 1px;
        background-color: white;
    }

    #player-board {
        margin-bottom: 10px;
    }

    .ship div {
        width: 4vh;
        height: 4vh;
        border: 1px solid white;
    }

    .reset {
        position: fixed;
        transform: rotate(-90deg);
        bottom: 25% !important;
        right: -20px !important;
    }
}